.carousel-wrapper {
  background-color: #101c14;
  height: 650px;
}

.img {
  border: 10px solid transparent;
  transition: transform .2s;
  scale: 0.85;
}

.buttons {
  cursor: pointer;
background-color: transparent;
border: 10px solid transparent;
}

.hover2 {
  background-color: transparent;
  border: 10px solid transparent;
}

.hover2:hover .img {
  border: 10px solid #38d48c;
  transform: scale(1.1);
}